body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #0056b3;
}

.weather-container {
    margin-top: 20px;
}

.weather-day {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.weather-day p {
    margin: 5px 0;
}